.word{
    font-size:20px;
}

.gridbox{
    display:flex;
    align-items:center;
}

.grid-container {
    padding:2%;
}


.grid-container2 {
    margin: auto;
    width: 30%;
}

.helper2{
    width:40vw;
    height:50vh;
    margin:2%;
}
